/**Utils**/
/**Vendors**/
/**Base**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body, html {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

.main {
  width: 100%;
  min-height: calc(100vh - 271.5px);
}
.main--accueil {
  opacity: 0;
  animation: pop 1s 3s forwards;
}

a, li, h1, h2, h3, h4, span {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

a:visited {
  text-decoration: none;
  color: black;
}

.nav__link:visited {
  text-decoration: none;
  color: white;
}

/**Components**/
#logo {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.logo {
  width: 100%;
}
.logo--small {
  width: 150px;
}
.logo--header {
  width: 225px;
}

.btn {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 40px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 5px 5px lightgrey;
  transition: box-shadow 300ms ease-in-out;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0 10px 5px lightgrey;
}
.btn:focus {
  outline: none;
}
.btn--wide {
  width: 150px;
}

.heart__container {
  position: absolute;
  right: 10px;
  top: 40%;
  margin: auto;
  cursor: pointer;
}
.heart__container:hover .heart, .heart__container:hover .heart:before, .heart__container:hover .heart::after {
  opacity: 1;
}
.heart__container:hover .heart__icone {
  opacity: 0;
}
.heart__container--menu {
  top: 40%;
  right: 20px;
}
.heart__container .heart {
  background: linear-gradient(210deg, #FF79DA, #9356DC 50%);
  display: inline-block;
  margin: 0 10px;
  position: relative;
  transition: 700ms;
  top: 0;
  transform: rotate(-45deg);
}
.heart__container .heart:before, .heart__container .heart:after {
  content: "";
  transition: 700ms;
  background: linear-gradient(225deg, #FF79DA, #9356DC 80%);
  border-radius: 50%;
  position: absolute;
}
.heart__container .heart, .heart__container .heart:before, .heart__container .heart:after {
  opacity: 0;
  height: 15px;
  width: 15px;
}
.heart__container .heart:before {
  transition-delay: 200ms;
  top: -8px;
  left: 0;
}
.heart__container .heart:after {
  transition-delay: 400ms;
  left: 8px;
  top: 0;
}
.heart__container .heart__icone {
  transition: 250ms;
  position: absolute;
  top: -7px;
  font-size: 27px;
  left: 4px;
  z-index: 1;
}

/**Layouts**/
.footer {
  padding: 30px;
  background-color: #353535;
}
.footer--spin {
  opacity: 0;
  animation: pop 1s 3s forwards;
}
.footer #footer__logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 35px;
}

#nav .nav__link {
  color: white;
  padding: 2px;
  font-weight: 300;
}
#nav .nav__link--bold {
  font-weight: 500;
}
#nav__list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 15px;
}

.fa-utensils, .fa-hands-helping {
  color: white;
  min-width: 20px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  z-index: 1;
}
.header--spin {
  opacity: 0;
  animation: pop 1s 3s forwards;
}
.header--shadow {
  position: relative;
  box-shadow: 0 3px 8px silver;
}
.header__arrow {
  position: absolute;
  top: 34%;
  left: 15px;
  cursor: pointer;
}
.header__arrow a:visited {
  color: black;
}

.fa-arrow-left {
  font-size: 1.5em;
}

.background {
  height: 250px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
}
.background--a-la-francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.background--la-note-enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.background--la-palette-du-gout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.background--le-delice-des-sens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinReverse {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#menu {
  background-color: #f6f6f6;
  position: relative;
}

.menu {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  top: -30px;
  border: 1px solid #f6f6f6;
  border-radius: 30px 30px 0 0;
  background: #f6f6f6;
  padding: 10px;
  margin: 0;
}
.menu__section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu__name {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}
.menu__part {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu__part h3 {
  font-weight: 300;
}
.menu__underline {
  display: block;
  border-top: 3px solid #99E2D0;
  width: 45px;
}
.menu__choice {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  padding-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 3px 8px silver;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__choice--1, .menu__choice--2, .menu__choice--3, .menu__choice--4, .menu__choice--5, .menu__choice--6, .menu__choice--7, .menu__choice--8, .menu__choice--9, .menu__choice--10 {
  animation: fadeIn ease-out 800ms 400ms both;
}
.menu__choice--2 {
  animation-delay: 600ms;
}
.menu__choice--3 {
  animation-delay: 800ms;
}
.menu__choice--4 {
  animation-delay: 1000ms;
}
.menu__choice--5 {
  animation-delay: 1200ms;
}
.menu__choice--6 {
  animation-delay: 1400ms;
}
.menu__choice--7 {
  animation-delay: 1600ms;
}
.menu__choice--8 {
  animation-delay: 1800ms;
}
.menu__choice--9 {
  animation-delay: 2000ms;
}
.menu__choice--10 {
  animation-delay: 2200ms;
}
.menu__choice:hover .menu__check {
  transform: translateX(0);
  transform-origin: right;
}
.menu__choice:hover .menu__price {
  right: 100px;
}
.menu__choice:hover .menu__check__icone {
  animation: spin 700ms both linear;
}
.menu__choice:hover .menu__content {
  min-width: 50%;
  width: 50%;
}
.menu__check {
  display: flex;
  position: relative;
  top: -15px;
  right: 0px;
  height: 80px;
  width: 100px;
  background: linear-gradient(170deg, #99E2D0, #99E2D0);
  transition: 700ms;
  transform: translateX(100px);
}
.menu__check__icone {
  animation: spinReverse 500ms both linear;
  color: white;
  margin: auto;
  font-size: 2em;
}
.menu__content {
  display: flex;
  flex-direction: column;
  min-width: 85%;
  margin-top: auto;
  margin-bottom: auto;
  transition: 500ms;
  white-space: nowrap;
}
.menu__food {
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 5px;
}
.menu__info {
  font-weight: 300;
  font-size: 1em;
}
.menu__food, .menu__info {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__button {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30px;
}
.menu__price {
  position: absolute;
  bottom: 18px;
  right: 15px;
  display: flex;
  justify-content: flex-end;
  margin: 0 5px 0 auto;
  transition: 700ms;
  font-weight: bolder;
}
.menu__price span {
  align-self: flex-end;
}

@media all and (min-width: 1024px) {
  /*#region MENU*/
  .background {
    width: 40%;
    height: inherit;
    background-color: inherit;
  }

  #menu {
    width: 60%;
    padding: 10px;
  }

  .menu {
    top: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }
  .menu__sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu__section {
    width: 45%;
  }
  .menu__section:nth-child(3) {
    width: 45%;
    align-self: center;
    margin: auto;
  }
  .menu__display {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .menu__display--long {
    height: 400px;
  }
  .menu__choice {
    height: 50px;
    margin: 5px;
  }
  .menu__part {
    text-align: center;
  }
  .menu__underline {
    width: 50px;
    margin: auto;
  }
  .menu__button {
    margin: 15px;
  }

  /*#endregion MENU*/
}
@media all and (min-width: 1600px) {
  .menu__content {
    min-width: 80%;
  }
}
@media all and (min-width: 1024px) {
  .main {
    display: flex;
  }
  .main--accueil {
    min-height: calc(100vh - 271.5px);
  }
  .main--2 {
    border-right: 5px solid #e2e2e2;
    flex-direction: row-reverse;
    width: 30%;
  }
  .main--menu {
    flex-direction: row-reverse;
    width: 100%;
  }
}
/**Pages**/
/**ANIMATION ACCUEIL**/
@keyframes loading {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    height: 70vh;
  }
  80% {
    height: 70vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#spinner {
  display: flex;
  position: fixed;
  top: 100px;
  width: 100%;
  justify-content: center;
  font-size: 6em;
  animation: loader 2500ms linear forwards;
}
#spinner .spinner__img {
  margin: auto;
  animation: loading 600ms linear 5 forwards;
}

#discover h2, #restaurants h2, #functionning h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.localisation {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e9e9e9;
}
.localisation__map {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
.localisation__text {
  outline: none;
  border: none;
  background-color: #e9e9e9;
  font-size: 1.5em;
  font-weight: bolder;
  width: 200px;
}

#restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}
#restaurants__title {
  margin: 20px;
}

.cards {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 100%;
  height: 225px;
  border-radius: 30px;
  box-shadow: 0 3px 8px silver;
}
.card__img {
  max-height: 70%;
  max-width: 100%;
}
.card__img img {
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
}
.card__description {
  position: relative;
  height: 30%;
  padding: 10px;
  color: black;
}
.card__name {
  width: 80%;
}
.card__region {
  font-weight: 300;
  width: 80%;
}
.card__description h3, .card__description h4 {
  margin: 0;
  padding: 1px;
}

#search {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f6f6f6;
}
#search__titles, #search #discover {
  width: 100%;
  justify-content: center;
}

#functionning {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  text-align: center;
}
#functionning__title {
  text-align: start;
  margin: 20px;
}
#functionning .functionning__items {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  margin: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  transition: 300ms;
  box-shadow: 0 3px 8px silver;
}
#functionning .functionning__items:hover {
  background-color: #e4d5f6;
}
#functionning .functionning__items:hover .fa-mobile-alt, #functionning .functionning__items:hover .fa-list-ul, #functionning .functionning__items:hover .fa-store {
  color: #9356DC;
}
#functionning .functionning__number {
  position: absolute;
  border-radius: 30px;
  top: 34%;
  left: -10px;
  width: 20px;
  padding: 2px;
  background-color: #9356DC;
  justify-content: center;
  color: white;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 34%;
  left: 20px;
}

.new {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 5%;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.8px;
  background-color: #99E2D0;
  color: #1b6150;
  line-height: 16px;
}

@media all and (min-width: 1024px) {
  /*#region ACCUEIL*/
  #discover {
    display: flex;
    height: 30%;
    padding: 0;
    padding-left: 0;
  }

  #search {
    align-self: center;
    background-color: white;
    padding: 0;
  }

  #fonctionnement {
    height: 50%;
    padding-top: 0;
  }

  #functionning {
    padding: 0;
  }
  #functionning .functionning__number {
    left: -10px;
  }
  #functionning__title {
    display: flex;
    text-align: inherit;
    justify-content: center;
  }

  #restaurants {
    align-self: center;
    width: 70%;
    background-color: white;
    padding: 50px;
    padding-left: 25px;
  }
  #restaurants__title {
    justify-content: center;
    margin: auto;
    display: flex;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 40%;
  }

  /*#endregion ACCUEIL*/
}
/**Themes**/

/*# sourceMappingURL=main.css.map */
