$main-width: 100%;
$card-with: 100%;
$card-tablet: 50%;
$main-width-mobile: 425px;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: white;
$background-color-alt: #f6f6f6;
$shadow-color: silver;
$global-margin: 20px;
$footer-color: #353535;
$footer-text-color: white;