.btn{
    background: linear-gradient(170deg, $secondary-color, $primary-color);
    border: none;
    border-radius: 40px;
    padding: 15px;
    color: white;
    font-weight: bolder;
    cursor: pointer;

    &:hover{
        transition: 300ms;
        opacity: .9;
        
    }

    &:focus{
        outline: none;
    }

    &--wide{
        width: 150px;
    }
}