.heart__icone{
        position: absolute;
        margin: auto;
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
        transition: 500ms;
    
        &--fill{ 
            color: transparent;
            top: 1.5%;
            right: 15px;
            
            &--menu{
                top: 40%;
                right: 20px;
            }

            &:hover{
                color: $primary-color;
            } 
        }

        &--border{
            
            top: 1.5%;
            right: 15px;

            &--menu{
                top: 40%;
                right: 20px;
            }

            &:hover{
                color: transparent;
                color: $primary-color;
            }  
        }
}