@media all and (min-width: 1024px){

    .layout{ 
        display: flex;

        &--2{
            flex-direction: row-reverse;
            width: 30%;
        }
    }

    .discover{
        display: flex;
        height: 20%;
        padding: 50px;
        padding-left: 25px;
    }
    .search{
        align-items: flex-start;
        background-color: white;
        padding: 0;
    }

    .fonctionnement{
        height: 50%;
        padding: 50px;
        padding-left: 25px;
        padding-top: 0;

    }

    .functionning{
        padding: 0;

        &__number{
            left: 35px;
        }
    }


    .restaurants{
        width: 70%;
        background-color: white;
        padding: 50px;
        padding-left: 25px;
        border-left: 5px solid $background-color-alt;

        &__title{
            justify-content: center;
            margin: auto;
            display: flex;
        }
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;

        &__img{
            height: 65%;
        }
    }
}