@keyframes spin{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}

@keyframes spinReverse{
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#menu{
    background-color: $background-color-alt;
    position: relative   
}

.menu{
    @include section;
    position: relative;
    top: -30px;
    border: 1px solid $background-color-alt;
    border-radius: 30px 30px 0 0;
    background: $background-color-alt;
    padding: 10px;
    margin: 0;

    &__section{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__name{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1em;
    }

    &__part{
        padding-top: 10px;
        padding-bottom: 10px;

        & h3{
            font-weight: 300;
        }
    }

    &__underline{
        display: block;
        border-top: 3px solid $tertiary-color;
        width: 45px;
    }

    &__choice{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 50px;;
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        padding-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        @include box-shadow;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        

        &--1, &--2, &--3, &--4, &--5, &--6, &--7, &--8, &--9, &--10{
            animation: fadeIn ease-out 800ms 400ms both;
        }

        $map: ("2": 600, "3": 800, "4": 1000, "5": 1200, "6": 1400,
         "7": 1600, "8": 1800, "9": 2000, "10": 2200);

        @each $index, $ms in $map {
            &--#{$index}{animation-delay: #{$ms}ms;}
        }

        &:hover {

            .menu__check{
                transform: translateX(0);
                transform-origin: right;
            }

            .menu__price{
                right: 100px;
            }

            .menu__check__icone{
                animation: spin 700ms both linear;
            }

            .menu__content{
                min-width: 50%;
                width: 50%;
            }
        }
    }

    &__check{
        display: flex;
        position: relative;
        top: -15px;
        right: 0px;
        height: 80px;
        width: 100px;
        background: linear-gradient(170deg, $tertiary-color, $tertiary-color);
        transition: 700ms;
        transform: translateX(100px);
    
        &__icone{
            animation: spinReverse 500ms both linear;
            color: white;
            margin: auto;
            font-size: 2em;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        min-width: 85%;
        margin-top: auto;
        margin-bottom: auto;
        transition: 500ms;
        white-space: nowrap;
    }

    &__food{
        font-weight: bold;
        font-size: 1em;
        padding-bottom: 5px;
    }

    &__info{
        font-weight: 300;
        font-size: 1em;
    }

    &__food, &__info{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button{
        @include align;
        margin-top: 30px;
    }

    &__price{
        position: absolute;
        bottom: 18px;
        right: 15px;
        display: flex;
        justify-content: flex-end;
        margin: 0 5px 0 auto;
        transition: 700ms;
        font-weight: bolder;
    
        & span{
            align-self: flex-end;
        }
    }    
}

@media all and (min-width: 1024px){
    
/*#region MENU*/
.background{
    width: 40%;
    height: inherit;
    background-color: inherit;
}

#menu{
    width: 60%;
    padding: 10px;
}

.menu{
    top: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;

    &__sections{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__section{
        width: 45%;
    }

    &__section:nth-child(3){
        width: 45%;
        align-self: center;
        margin: auto;
    }
    

    &__display{
        display: flex;
        flex-direction: column;
        height: 300px;

        &--long{
            height: 400px;
        }
    }

    &__choice{
        height: 50px;
        margin: 5px;
    }

    &__part{
        text-align: center;
    }

    &__underline{
        width: 50px;
        margin: auto;
    }

    &__button{
        margin: 15px;
    }
}
/*#endregion MENU*/ 
}

@media all and (min-width: 1600px){

    .menu__content{
        min-width: 80%;
    }
}