.footer{
    padding: 30px;
    background-color: $footer-color;

    &--spin{
        opacity: 0;
        animation: pop 1s 3s forwards;
    }

    &__logo{
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 35px;
    }
}

.nav{
        
    &__link{
        color: $footer-text-color;
        padding: 2px; 
        font-weight: 300;

        &--bold{
            font-weight: 500;
        }
    }  
    
    &__list{
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 15px;
    }
}

.fa-utensils, .fa-hands-helping{
    color: white;
    min-width: 20px;
}