.footer{
    padding: 30px;
    background-color: $footer-color;

    &__logo{
        filter: brightness(100);
    }
}

.nav{

    &__list{
    }
        
    &__link{
        color: $footer-text-color;
        padding: 2px; 
        font-weight: 300;

        &--bold{
            font-weight: 500;
        }
    }   
}

.fa-utensils, .fa-hands-helping{
    color: white;
    min-width: 20px;
}