@media all and (min-width: 1024px){

    .main{ 
        display: flex;

        &--accueil{
            min-height: calc(100vh - 271.5px);
        }

        &--2{
            border-right: 5px solid #e2e2e2;
            flex-direction: row-reverse;
            width: 30%;
        }

        &--menu{
            flex-direction: row-reverse;
            width: 100%;
        }
    } 
}