.heart{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    bottom: 25px;
    right: 10px;

    .heart__icone{
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }
}
